.section-grid{
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 400px 400px;
  }

  /*Responsivo*/
  @media (max-width: 890px){
    .section-grid{
      display: grid;
      grid-template-columns: 200px 200px;
      grid-template-rows: 200px 200px;
    }
  }

  @media (max-width: 450px) {
    section{
      max-width: 200px;
      font-size: 0.8rem;
    }
  
    ul{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, auto));
      gap: 10px;
      font-size: 0.8rem;
    }
  
    .section-grid{
      display: grid;
      grid-template-columns: 100px 100px;
      grid-template-rows: 100px 100px;
    }
  
    footer{
      font-size: 0.8rem;
    } 
  }
 