header{
    text-align: center;
    background-color: #065980;
  }
  
  h3{
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  
  #cabecalho{
    color: white;
    margin-top: 0;
  }
  
  #fotoPerfil{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 2.5rem;
  }