/*Responsivo da HOME*/

/*Abaixo de 1080*/

@media (max-width: 1080px) {
  section{
    max-width: 800px;
  }
  a{
    display: inline-block;
  }
}

/*Abaixo de 890*/

@media (max-width: 890px) {
  section{
    max-width: 600px;
  }
  a{
    display: inline-block;
  }
}

/*Abaixo de 600*/

@media (max-width: 660px) {
  section{
    max-width: 350px;
  }
}

/*Abaixo de 450*/

@media (max-width: 450px) {
  section{
    max-width: 200px;
    font-size: 0.8rem;
  }

  ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    gap: 10px;
    font-size: 0.8rem;
  }
  
  footer{
    font-size: 0.8rem;
  } 
}